{% extends "layout.html" %}
{% block title %}DAC Publication Listing{% endblock %}
{% block page %}DAC Publication Listing{% endblock %}

{{ super() }}


{% block content %}

<nav class="purple">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo right"> DAC Publication Listing</a>
      <div class="nav-wrapper">
          <ul id="nav-mobile" class="left">
              <li><a href="/">Home</a></li>
              <li><a href="/signuppage">Signup</a></li>
              <li><a href="/login">Login</a></li>
              <li><a href="/newpub">Newpub</a></li>
              <li><a href="/results">Search Results</a></li>
              <li><a href="/pubtree">Pubtree</a></li>
          </ul>
      </div>
    </div>
  </nav>

<form method="get" action="/results">
<div class="row">
<div class="input-field col s12">
<input placeholder="Search" name="Author Name" type="text">
<label for="author">Search For Author Name</label>
<input type="submit" value="Submit">
</form>
</div>
</div>

<div class="row">
</div>

<form method="get" action="/results">
<div class="row">
<div class="input-field col s12">
<input placeholder="Search" name="Pub Title" type="text">
<label for="title">Search For Publication Title</label>
<input type="submit" value="Submit">
</form>
</div>
</div>

{% endblock %}