{% extends "layout.html" %}
{% block title %}DAC Publication Listing{% endblock %}
{% block page %}DAC Publication Listing{% endblock %}

{{ super() }}


{% block content %}

<form method="POST" action="/">
<div class="row">
<div class="input-field col s12">
<input placeholder="Search" name="Author Name" type="text">
<label for="author">Search For Author Name</label>
<input type="submit" value="Submit">
</form>
</div>
</div>

<div class="row">
</div>

<form method="POST" action="/index">
<div class="row">
<div class="input-field col s12">
<input placeholder="Search" name="Pub Title" type="text">
<label for="title">Search For Publication Title</label>
<input type="submit" value="Submit">
</form>
</div>
</div>

{% endblock %}