{% extends "layout.html" %}
{% block title %}DAC Publication Listing{% endblock %}
{% block page %}DAC Publication Listing{% endblock %}


{{ super() }}


{% block content %}

<nav class="purple">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo left"> DAC Publication Listing</a>
          <ul id="nav-mobile" class="left">
          </ul>
      </div>
    </div>
  </nav>

<main class="container">
<form class="card col s12" id="loginForm" method="POST" action="/" style="padding:1em">
<div class="row">
<div class="input-field col s12">
<input placeholder="" name="username" type="text" class="validate">
<label for="username">Username</label>
</div>
</div>

<div class="row">
<div class="input-field col s12">
<input name="password" type="password" class="validate">
<label for="password">Password</label>
</div>
</div>

<div class="card-action">
<input type="submit" class="blue text-white btn">
</div>

<div class="row">
    <li><a href="/signuppage">Don't Have an Account? Signup Here</a></li>
</div>

</form>
</main>
{% endblock %}
