{% extends "layout.html" %}
{% block title %}DAC Publication Listing{% endblock %}
{% block page %}DAC Publication Listing{% endblock %}

{{ super() }}



{% block content %}

    <h2>Create Publication for: </h2>

    <main class="container">
        <form class="card col s12" id="loginForm" method="POST" action="/index" style="padding:1em">
        <div class="row">
        <div class="input-field col s12">
        <input placeholder="Title" name="title" type="text">
        <label for="title"></label>
        </div>
        </div>

        <div class="row">
        </div>

        <div class="row">
        <div class="input-field col s12">
        <input placeholder="" name="dateofpublication" type= "date" class="validate">
        <label for="dateofpublication">Date of Publication</label>
        </div>
        </div>

        <div class="row">
        </div>

        <div>
        <label for="coauthors">Co-Authors</label>

        <textarea id="coauthors" name="coauthors" rows="4" cols="50">
        </textarea>

        </div>

        <div class="row">
        </div>

        <div>
            <label for="abstract">Abstract</label>
    
            <textarea id="abstract" name="abstract" rows="4" cols="50">
            </textarea>
    
            </div>

        <div class="card-action">
        <input type="submit" class="blue text-white btn">
        </div>
        </form>
        </main>


    
{% endblock %}